<div class="links-container">
  <div class="link-column">
    <%= link_to 'アカウント情報', mypage_path %>
    <%= link_to 'ノート一覧・作成', folders_path %>
  </div>

  <div class="link-column">
    <%= link_to 'アチーブメント', missions_path %>
    <%= link_to 'お問合せ', new_post_path %>

  </div>
</div>

<%# 管理者のみ表示する %>
<% if current_user.admin? %>
  <div class="links-container administrator">
    <div class="link-column">
      <%= link_to 'ユーザー管理', users_path %>
    </div>
    <div class="link-column">
      <%= link_to 'タグ管理', tags_path %>
      <%= link_to 'お問合せ一覧',  posts_path%>
    </div>
  </div>
<% end %>
