<%# ヘッダーとホームページへのリンクを追加 %>
<header style="margin-bottom: 55px;">
  <div class="header-container">
    <a href="<%= root_path %>" style="text-decoration: none;">
    <div class="system-name">❍Rise note</div>
    </a>
    <div class="header-buttons">
        <%= link_to 'ログイン', new_user_session_path  %>
      </div>
  </div>
</header>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "devise-form" }) do |f| %>

<h4>Rise noteに登録する</h4>

  <div class="error-message">
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>


  <!-- ユーザー名のフィールドを追加 -->
  <div class="field">
    <%= f.label :username, "ユーザネーム", for: "username_field" %><span style="color: red; font-size: 0.8em;"> *</span><br />
    <span style="font-size: 0.9em;">2文字以上8文字以内で作成してください。</span> <br />
    <%= f.text_field :username, id: "username_field", autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :email %><span style="color: red; font-size: 0.8em;"> *</span><br />
    <span style="font-size: 0.9em;">連続する「..」や@の前に「.」を置くこと、また *()<>,;:\"[] などの文字は使用することができません。</span><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: '例）Rise@risenote.com'%>
  </div>

<div class="field">
  <%= f.label :password, for: "password" %><span style="color: red; font-size: 0.8em;"> *</span>
  <% if @minimum_password_length %>
  <% end %><br />
  <span style="font-size: 0.9em;">8文字以上で、大文字と小文字を含むように作成してください。</span><br>
  <%= f.password_field :password, id: "password", autocomplete: "new-password" %>
  <i id="togglePassword" class="fas fa-eye"></i>
</div>

<div class="field">
  <%= f.label :password_confirmation, for: "password_confirmation" %><span style="color: red; font-size: 0.8em;"> *</span><br />
  <%= f.password_field :password_confirmation, id: "password_confirmation", autocomplete: "new-password" %>
  <i id="togglePasswordConfirmation" class="fas fa-eye"></i>
</div>

<script>
  var togglePassword = document.querySelector('#togglePassword');
  var password = document.querySelector('#password');
  var togglePasswordConfirmation = document.querySelector('#togglePasswordConfirmation');
  var passwordConfirmation = document.querySelector('#password_confirmation');

  // 初期状態のアイコンを設定
  togglePassword.classList.remove('fa-eye');
  togglePassword.classList.add('fa-eye-slash');
  togglePasswordConfirmation.classList.remove('fa-eye');
  togglePasswordConfirmation.classList.add('fa-eye-slash');

  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
    this.classList.toggle('fa-eye');
  });

  togglePasswordConfirmation.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = passwordConfirmation.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordConfirmation.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
    this.classList.toggle('fa-eye');
  });
</script>




  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
  
  <div class="link-new">
    アカウントをお持ちの方は<%= render "devise/shared/links" %>
  </div>
<% end %>

<h1>　</h1>

