<h2>ノート一覧</h2>

<!-- ファイル名作成用ポップアップの背景オーバーレイ -->
<%# この書き方だと他のファイルでjavascriptファイルの読み込みを防げる %>
<div class="overlay" id="overlay"></div>

<!-- プラスボタン -->
<button id="create-folder-btn">➕ フォルダ作成</button>

<!-- フォルダ作成フォーム（初期状態では非表示） -->
<div id="create-folder-form" style="display: none;">
  <%= form_with(model: @folder, local: true) do |form| %>
    <% if @folder.errors.any? %>
      <div id="error_explanation" class="error_explanation">
        <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>
        <ul>
          <% @folder.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name, 'フォルダ名'%>
      <%= form.text_field :name, class: "folder-input-field" %>
    </div>

    <div class="actions">
      <%= form.submit "Create Folder", class: "folder-submit-button" %>
    </div>
  <% end %>
</div>

<%# 存在するノートを一覧で表示 %>
<div class="folders-container">
  <% @folders.each do |folder| %>
    <div class="folder-card">
      <%= link_to folder_memos_path(folder), class: "folder-link" do %>
        <div class="folder-content">
          <div class="folder-name"><%= folder.name %></div>
        </div>
      <% end %>
      <div class="folder-actions">
        <%= link_to '削除', folder_path(folder), data: {turbo_method: "delete", turbo_confirm: "削除してよろしいですか？"}, class: 'folder-delete-link' %>
      </div>
    </div>
  <% end %>
</div>