<div class="dashboard-back">  
  <div class="dashboard-header">
    <p>Dashboard</p>
  </div>
  <div class="dashboard">
    <div class="dashboard-container">
      <div class="card">
        <div class="icon-and-text">
      <i class="fas fa-users fa-3x"></i>
      <p class="dashboard-title">ユーザー管理</p>
    </div>
    <div class="card-content">
      <p>登録ユーザー数: <%= @user_count %></p>
        <%= link_to users_path, class: 'detail-button' do %>
          詳細<i class="fas fa-angle-right"></i>
        <% end %>
    </div>
  </div>


      
      <div class="card">
        <div class="icon-and-text">
        <i class="fas fa-info fa-3x"></i>
        <p class="dashboard-title">タグ管理</p>
        </div>
        <div class="card-content">
          <p>タグの総数: <%= @tag_count %></p>
          <%= link_to tags_path, class: 'detail-button' do %>
            詳細<i class="fas fa-angle-right"></i>
          <% end %>
        </div>
      </div>
      
      <div class="card">
        <div class="icon-and-text">
        <i class="fas fa-eye fa-3x"></i>
        <p class="dashboard-title">お問合せ管理</p>
        </div>
        <div class="card-content">
          <p>未読の閲覧件数: 2</p>
          <%= link_to posts_path, class: 'detail-button' do %>
            詳細<i class="fas fa-angle-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="activity-log">
    <p>Activity log</p>
    <div class="log-item">
      <div class="timestamp">2024-02-13 10:30</div>
      <div class="manager-message">ユーザー1からお問い合わせがあります。</div>
    </div>
    <div class="log-item">
      <div class="timestamp">2024-02-13 12:13</div>
      <div class="manager-message">ユーザー2からお問い合わせがあります。</div>
    </div>
    <div class="log-item">
      <div class="timestamp">2024-02-13 15:21</div>
      <div class="manager-message">タグ名「エラー」を追加しました。</div>
    </div>
  </div>
<div>