<div class="missionList popup scrollable-table-container" id="mission-popup" style="display: none;">
  <h1>Missions</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">ミッション名</th>
        <th scope="col">説明</th>
        <th scope="col">達成条件</th>
        <th scope="col">状態</th>
      </tr>
    </thead>
    <tbody>
      <% @missions.each do |mission| %>
        <tr>
          <td><%= mission.id %></td>
          <td><%= mission.name %></td>
          <td><%= mission.description %></td>
          <td><%= mission.completion_criteria %></td>
          <td class="<%= @completed_missions.include?(mission) ? 'text-success' : 'text-danger' %>">
            <%= @completed_missions.include?(mission) ? '達成済み' : '未達成' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
