<nav class="col-md-2 d-none d-md-block bg-dark sidebar vh-100">
  <div class="position-sticky pt-3 h-100">
    <!-- ログインしているユーザーのメールアドレスを表示 -->
    <div class="px-3 text-white">
      <button id="accounts-link" class="btn text-white text-decoration-none"><%= current_user.username %>さんがログイン中</button>
    </div>

    <ul class="nav flex-column text-white">
      <li class="nav-item">
        <%= link_to 'ノート一覧', folders_path, class: 'nav-link text-white' %>
      </li>
      <li class="nav-item">
        <button id="mypage-link" class="btn text-white text-decoration-none">マイページ</button>
      </li>
      <li class="nav-item">
        <button id="mission-link" class="btn text-white text-decoration-none">ミッション一覧</button>
      </li>
      <li class="nav-item">
        <%= link_to 'メニュー', userInfo_select_path, class: 'nav-link text-white' %>
      </li>

      <!-- ノート内のみ表示する -->
      <% if @folder && @folder.persisted? %>
        <li class="nav-item">
          <%= link_to '＋新規メモ', new_folder_memo_path(@folder), class: 'nav-link text-white' %>
        </li>
      <% end %>

      <%# メモの新規作成、編集ページ内のみ表示する %>
      <% if controller_name == 'memos' && (action_name == 'new' || action_name == 'edit') %>
        <li class="nav-item">
          <%= link_to 'テンプレート', '#', id: 'template-link', class: 'text-white', data: { bs_toggle: 'modal', bs_target: '#templateModal' } %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>