<nav class="col-md-2 d-none d-md-block bg-dark sidebar vh-100">
  <div class="position-sticky pt-3 h-100">   
    <!-- 現在のユーザー名を表示 -->
    <button id="accounts-link" class="btn text-white text-decoration-none"><%= current_user.username %>さんがログイン中</button>


    <!-- 一般ユーザー専用のナビゲーションバー -->
    <% unless current_user&.admin? %>
    
      <!-- ホーム画面へのリンク -->
      <%= link_to folders_path, class: 'nav-link text-white mb-3',style: 'margin-left: 17px;' do %>
        <i class="fas fa-home"></i> ホーム画面
      <% end %>

      <!-- マイページへのリンク -->
      <button id="mypage-link" class="nav-link text-white mb-3 text-decoration-none"style="margin-left: 17px;">
        <i class="fas fa-user"></i> マイページ
      </button>

      <!-- ノートがある場合に新規メモ作成へのリンクを表示 -->
      <% if @folder && @folder.persisted? %>
          <%= link_to new_folder_memo_path(@folder), class: 'nav-link text-white mb-3',style: 'margin-left: 17px;' do %>
            <i class="fas fa-pencil-alt"></i> 新規ページ
          <% end %>
      <% end %>
    

      <!-- メモの新規作成または編集ページでのみテンプレート選択リンクを表示 -->
      <% if controller_name == 'memos' && (action_name == 'new' || action_name == 'edit') %>
        <p><%= link_to '#', class: 'text-white',id: 'template-link', class: 'text-white', data: { bs_toggle: 'modal', bs_target: '#templateModal' },style: 'margin-left: 17px;' do %>
          <i class="fas fa-file-alt"></i> テンプレート
        <% end %></p>
      <% end %>

      <!-- ナビゲーションメニュー項目 -->
      <ul class="nav" style="border-top: 1px solid #ccc;">
        <!-- ドロップダウンの親要素 -->
        <li class="dropdown">
          <!-- ドロップダウントリガー -->
          <%= link_to 'ノート一覧', '#', class: 'nav-link dropdown-toggle', id: 'foldersDropdown', data: { bs_toggle: 'dropdown' }, aria: { expanded: 'false' }, style: 'color: white;' %>
          <!-- ドロップダウンメニュー -->
          <ul class="dropdown-menu bg-dark" aria-labelledby="foldersDropdown">
            <% @folders.each do |folder| %>
              <li>
                <%= link_to folder_memos_path(folder), class: 'dropdown-item', style: 'color: white;' do %>
                  <i class="fas fa-book"></i> <%= folder.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>

        <!-- ミッション一覧へのリンク -->
        <li class="nav-item">
          <button id="mission-link" class="nav-link text-decoration-none" style="color: white;"><i class="fas fa-clipboard"></i> ミッション一覧</button>
        </li>

        <!-- 管理者へのお問い合わせリンク -->
        <%= link_to new_post_path, class: 'nav-link text-white mb-3' do %>
          <i class="fas fa-envelope"></i> お問い合わせ
        <% end %>
      </ul>

    <% else %>

      <!-- 管理者専用のナビゲーションバー -->
      <ul class="nav" style="border-top: 1px solid #ccc;">
        <li class="nav-item">
          <%= link_to admin_dashboard_path, class: 'nav-link text-white' do %>
            <i class="fas fa-tools"></i> ダッシュボード
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to users_path, class: 'nav-link text-white' do %>
            <i class="fas fa-user-cog"></i> ユーザー管理
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to tags_path, class: 'nav-link text-white' do %>
            <i class="fas fa-tags"></i> タグ管理
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to posts_path, class: 'nav-link text-white' do %>
            <i class="fas fa-envelope"></i> お問合せ一覧
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>