<div class="home-back" >
<div class="home-body">
<header>
  <div class="header-container">
    <div class="system-name">❍Rise note</div> 

    <%# ログイン、ログアウト処理 %>
    <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
      <%= link_to 'マイページ', mypage_path %>
    <% else %>
      <div class="header-buttons">
        <%= link_to '新規登録', new_user_registration_path, class: "next_new_user_button" %>
        <%= link_to 'ログイン', new_user_session_path  %>
      </div>
    <% end %>
  </div>
</header>

    <div class="home-input-container">
      <h2 class="input-title">R I S E <i class="fas fa-pen-fancy"></i> N O T E</h2>
    </div>
    <div class="arrow-button2" onclick="scrollUp()"></div>
    <div class="arrow-button" onclick="scrollDown()"></div>
</div>

<div class="scrolling-element">
      <div class="centered-container">
      <div class="circle-frame">
        <%= image_tag 'note3.png' %>
      </div>
      <div class="explanation-text">
        <h2>RISE NOTE</h2>
        <p>プログラマーが学習と作業をより効果的に行うためのWebアプリケーションです。プログラミング学習や開発の際には、同じコードでのスペルミスやエラーにより何度も時間がかかることがあります。<br>そのため、Web上でメモを作成し、それをノートのように整理管理することで、ブラウザから良い記事を検索して問題を解決する手間を省くことができます。また、コピペなどを活用することで作業効率が向上します。</p>
      </div>
      </div>
    </div>
    <div class="scrolling-element2">
      <div>
      <h1><span class="highlight-text">RISE</span>を始めよう！こちらから<span class="highlight-text">無料で</span>登録</h1>
      <p>アカウントをお持ちの場合、こちらからログイン</p>
      </div>
      <div class="start-button">
      <%= link_to '新規登録', new_user_registration_path, class: "next_new_user_button" %>
      <span><%= link_to 'ログイン', new_user_session_path  %></span>
      </div>
    </div>
    
    <div class="home-footer">
    <footer>
      <div class="footer-container">
      <div class="footer-buttons">
      </div>
      <div>
    </footer>
    </div>
</div>
<script>
      document.addEventListener('DOMContentLoaded', function () {
        const arrowButton = document.querySelector('.arrow-button, .arrow-button2');
  
        
        }
      );
      function scrollUp() {
        scrollAmount = 30;
        const scrollHeight = window.innerHeight;
        const currentScroll = window.scrollY;
        const targetScroll = currentScroll - scrollHeight - scrollAmount;
        window.scrollTo({
          top: targetScroll,
          behavior: 'smooth',
        });
      }
  
      function scrollDown() {
        scrollAmount = 30;
        const scrollHeight = window.innerHeight;
        const currentScroll = window.scrollY;
        const targetScroll = currentScroll + scrollHeight + scrollAmount;
        window.scrollTo({
          top: targetScroll,
          behavior: 'smooth',
        });
      }
    </script>