<!-- ナビゲーションリンクとタイトル -->
<div class="tag-header">
  <h3 class="tagh3">タグ管理</h3>
</div>

<hr>

<!-- 現在のタグ一覧セクション -->
<div class="tag-list w-50">
  <h4>現在のタグ一覧</h4>
  <div class="table-responsive">
    <table class="table tag-table" style="table-layout: fixed;">
      <thead class="tag-thead">
        <tr>
          <th class="tag-th">タグ名</th>
          <th class="tag-th">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.name %></td>
            <td>
              <%= link_to '削除', tag_path(tag),  data: {turbo_method: "delete", turbo_confirm: "削除してよろしいですか？"}, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



<!-- 新規タグ登録セクション -->
<div class="card w-25 tag-registration">
  <div class="card-header">
    <h5>新しいタグを追加</h5>
  </div>
  <div class="card-body">
    <%= form_with(model: @tag, local: true, class: "form-inline") do |form| %>
      <div class="form-group mb-3">
        <%= form.label :name, '追加するタグ名', class: "mr-2" %>
        <%= form.text_field :name, autocomplete: 'off', class: "form-control mr-2" %>
          <div class="tag-btn">
            <%= form.submit "追加", class: "btn btn-info w-50" %>
          </div>
      </div>
    <% end %>
  </div>
</div>