<a href="<%= folders_path %>" class="tag-a"><i class="fas fa-arrow-left"></i></a>
<h3> お問合せ管理</h3>
<hr>

<!-- お問い合わせ一覧テーブルコンテナ -->
<div class="post-admin-container mt-5">
  <div class="table-responsive mx-auto" style="max-width: 75%; float: left;">
    <!-- お問い合わせ一覧テーブル -->
    <table class="table table-hover bordered-table sticky-header-table" style="table-layout: fixed;">
      <colgroup>
        <col style="width: 10%">
        <col style="width: 30%">
        <col style="width: 30%">
        <col style="width: 16%">
        <col style="width: 4%">
      </colgroup>

      <thead>
        <tr>
          <th scope="col" style="text-align: center;">ID</th>
          <th scope="col">タイトル</th>
          <th scope="col">送信日時</th>
          <th scope="col" style="padding-left: 0px;">確認</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>

        <!-- 送られてきたお問合せ内容を表示 -->
        <% @posts.each do |post| %>
            <tr style="cursor: pointer;" onclick="window.location='<%= post_path(post) %>'">
            <th scope="row" style="text-align: center;"><%= post.id %></th>
              <td><%= post.title %></td>
              <td><%= post.created_at.strftime("%-m月%d日 %-H時%M分") %></td>
              <td><%= raw(post.read ? '<i class="fas fa-solid fa-check" style="color: #04be45;"></i>' : '') %></td>
              <td><i class="fas fa-angle-right fa-lg" style="color: #9fa0a3;"></i></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


