<div class="post-container">
  <div class="row justify-content-left">
    
      <h3 class="mb-3">お問合せの送信</h3>
      <hr>

      <!-- お問い合わせフォーム開始 -->
      <%= form_with model: @post, local: true, html: {class: 'needs-validation', novalidate: ''} do |form| %>
        <div class="mb-3">
          <%= form.label :title, '件名', class: 'form-label' %><span style="color: red; font-size: 0.8em;"> *</span>
          <%= form.text_field :title, class: 'form-control', style: 'width: 50%;', required: '', placeholder: '15文字以内で入力してください' %>


          <div class="invalid-feedback">
            件名を入力してください。
          </div>
          <p style="font-size: 0.8em; margin-left:20px;">お問合せの概要を記載してください。</p>
        </div>

        <div class="mb-3">
          <%= form.label :content, 'お問合せ内容', class: 'form-label' %><span style="color: red; font-size: 0.8em;"> *</span>
          <%= form.text_area :content, class: 'form-control form-control-textarea',style: 'width: 50%;', required: '', placeholder: '200文字以内で入力してください' %>
          <div class="invalid-feedback">
            お問い合わせ内容を入力してください。
          </div>
        </div>

        <%= form.submit "送信", class: 'btn btn-success btn-wide'%>
      <% end %>
      <!-- お問い合わせフォーム終了 -->
  </div>
</div>