<div class="contact-detail-back">
<div class="post-show-container mt-5" style="margin:0!important;">
    <a href="<%= posts_path %>" class="tag-a"><i class="fas fa-arrow-left"></i></a>
    <h3>詳細</h3>
</div>
<hr>
<div class="card">
  <div class="card-body">
    <p class="card-text text-muted">お問合せ番号: <%= @post.id %></p>
    <h5 class="card-title mb-4"><%= @post.title %></h5>
    <p class="card-text"><%= @post.content %></p>
    <% if @post.user %>
      <div class="mt-4">
        <p class="card-text text-muted">ユーザーID: <%= @post.user.id %></p>
        <p class="card-text text-muted">ユーザーのメールアドレス: <%= @post.user.email %></p>
      </div>
    <% else %>
      <p class="card-text text-muted">投稿者情報が見つかりません。</p>
    <% end %>
  </div>
</div>
</div>