<div id="postDetails" class="container mt-5">
  <div class="card">
    <div class="card-body">
      <p class="card-text text-muted">お問合せ番号: <%= @post.id %></p>
      <h4 class="card-title mb-4"><%= @post.title %></h4>
      <p class="card-text"><%= @post.content %></p>
      <% if @post.user %>
        <div class="mt-4">
          <p class="card-text text-muted">ユーザーID: <%= @post.user.id %></p>
          <p class="card-text text-muted">ユーザーのメールアドレス: <%= @post.user.email %></p>
        </div>
      <% else %>
        <p class="card-text text-muted">投稿者情報が見つかりません。</p>
      <% end %>
      <a href="<%= posts_path %>" class="btn btn-secondary mt-4">一覧に戻る</a>
    </div>
  </div>
</div>
