  <%= render 'shared/contextMenu' %>
  
  <!-- メモ一覧 -->
  <div class="col-md-12 px-3">
    <h1 class="my-4">メモ一覧/<%= @folder.name %></h1>

      <!-- 検索フォーム -->
      <div class="d-flex justify-content-between mb-3">
        <%= form_with(url: folder_memos_path(@folder), method: :get, local: true, class: "d-flex flex-grow-1 me-2") do |form| %>
        <%= form.label :search, "メモ検索", class: "visually-hidden" %>
        <%= form.text_field :search, class: "form-control me-2", placeholder: "タイトルで検索", style: "max-width: 200px;" %> <!-- 幅をカスタムで調整 -->
        <%= form.submit "検索", class: "btn btn-outline-secondary" %>
      <% end %>

      <!-- タグ検索フォーム -->
      <%= form_with(url: folder_memos_path(@folder), method: :get, local: true, class: "d-flex") do |form| %>
        <%= form.label :tag_id, "タグで検索", class: "visually-hidden" %>
        <%= form.collection_select :tag_id, Tag.all, :id, :name, { prompt: 'タグで選択' }, { class: "form-select me-2" } %>
        <%= form.submit "検索", class: "btn btn-outline-secondary" %>
      <% end %>
  </div>

    <!-- メモ一覧テーブル -->
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th>タイトル</th>
            <th>タグ</th>
            <th>作成時間</th>
          </tr>
        </thead>

        <tbody class="folder-group" data-folder-id="<%= @folder.id %>">
          <% @memos.each do |memo| %>
            <tr class="folder-group-item" data-memo-id="<%= memo.id %>">
              <td><%= link_to memo.title, edit_folder_memo_path(@folder, memo), class: 'text-dark text-decoration-none' %></td>
              <td>
                <% memo.tags.each do |tag| %>
                  <span class="badge bg-secondary"><%= tag.name %></span>
                <% end %>
              </td>
              <td><%= memo.created_at.strftime("%Y/%m/%d %H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


