  <%= render 'shared/contextMenu' %>
  
  <!-- メモ一覧 -->
  <div class="col-md-12 px-3">
    <h1 class="my-4">メモ一覧/<%= @folder.name %></h1>

      <!-- 検索フォーム -->
      <div class="d-flex justify-content-between mb-3">
        <%= form_with(url: folder_memos_path(@folder), method: :get, local: true, class: "d-flex flex-grow-1 me-2") do |form| %>
        <%= form.label :search, "メモ検索", class: "visually-hidden" %>
        <%= form.text_field :search, class: "form-control me-2", placeholder: "タイトルで検索", style: "max-width: 200px;" %> <!-- 幅をカスタムで調整 -->
        <%= form.submit "検索", class: "btn btn-outline-secondary" %>
      <% end %>

      <!-- タグ検索フォーム -->
      <%= form_with(url: folder_memos_path(@folder), method: :get, local: true, class: "d-flex") do |form| %>
        <%= form.label :tag_id, "タグで検索", class: "visually-hidden" %>
        <%= form.collection_select :tag_id, Tag.all, :id, :name, { prompt: 'タグで選択' }, { class: "form-select me-2" } %>
        <%= form.submit "検索", class: "btn btn-outline-secondary" %>
      <% end %>
  </div>

<div class="row">
  <!-- メモリスト -->
  <div class="col-md-6" style="border-right: 1px solid #dee2e6; overflow-y: auto; max-height: 70vh;">
    <%= turbo_frame_tag 'memo_list' do %>
      <div class="folder-group" data-folder-id="<%= @folder.id %>">
        <% @memos.each do |memo| %>
          <div class="folder-group-item list-group-item d-flex justify-content-between align-items-center border-bottom" style="padding: 1rem;">
            <div style="font-size: 1rem;">
              <%= link_to memo.title, folder_memo_path(@folder, memo), data: { turbo_frame: 'memo_detail' }, class: 'text-dark text-decoration-none' %>
            </div>
            <div>
              <% memo.tags.each do |tag| %>
                <span class="badge bg-secondary" style="font-size: 0.75rem;"><%= tag.name %></span>
              <% end %>
            </div>
            <div style="font-size: 0.75rem;">
              <small><%= memo.created_at.strftime("%Y/%m/%d %H:%M") %></small>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- メモ詳細 -->
  <div class="col-md-6">
    <%= turbo_frame_tag 'memo_detail' do %>
    <% end %>
  </div>
</div>


