<div class="folders-back">

  <!-- 右クリック削除用のメニュー -->
  <%= render 'shared/contextMenu' %>

  <!-- メモ一覧 -->
  <div class="col-md-12 px-3">
  <!-- 現在のアクセス中のノート名表示 -->
    <h3 class="note-name"><%= @folder.name %></h3>

    <!-- 検索フォーム -->
    <div class="d-flex justify-content-between mb-3">
      <%= form_with(url: folder_memos_path(@folder), method: :get, local: true, class: "d-flex flex-grow-1 me-2") do |form| %>
        <%= form.label :search, "メモ検索", class: "visually-hidden" %>
        <%= form.text_field :search, class: "form-control me-2", placeholder: "タイトルで検索", style: "max-width: 200px;" %> <!-- 幅をカスタムで調整 -->
        <%= form.submit "検索", class: "btn btn-outline-secondary custom-button" %>
      <% end %>

      <!-- タグ検索フォーム -->
      <%= form_with(url: folder_memos_path(@folder), method: :get, local: true, class: "d-flex") do |form| %>
        <%= form.label :tag_id, "タグで検索", class: "visually-hidden" %>
        <%= form.collection_select :tag_id, Tag.all, :id, :name, { prompt: 'タグで選択' }, { class: "form-select me-2" } %>
        <%= form.submit "検索", class: "btn btn-outline-secondary custom-button" %>
      <% end %>
    </div>

  <!-- メモ一覧 -->
  <div class="row"  style="min-height: 70vh; display: flex;">
    <!-- メモが存在しない場合のメッセージ -->
    <% if @memos.empty? %>
      <div class="default-memo-ex col-md-5">
        <i class="fas fa-pencil-alt fa-4x m-3"></i>
        <p>最初のメモを作成する</p>
        <p style="color: #777;">開始するには、サイドバーの「<%= link_to '新規ページ', new_folder_memo_path(@folder)%>」をクリックします。</p>
      </div>
    <% else %>
      <div class="col-md-5" style="overflow-y: auto; max-height: 70vh;">
        <%= turbo_frame_tag 'memo_list' do %>
          <div class="folder-group" data-folder-id="<%= @folder.id %>">
            <% @memos.each do |memo| %>
              <div class="folder-group-item list-group-item d-flex justify-content-between align-items-center border-bottom" style="padding: 1rem; border-color: black !important; background-color: rgba(255, 255, 255, 0.5);" data-memo-id="<%= memo.id %>">

                <div style="font-size: 1rem;">
                  <!-- クリック時にメモ詳細を表示 -->
                  <%= link_to memo.title, folder_memo_path(@folder, memo), data: { turbo_frame: 'memo_detail' }, class: 'text-dark text-decoration-none' %>
                </div>
                <div style="font-size: 0.75rem;">
                  <!-- data: { turbo_frame: '_top' }で全ての変更 -->
                  <p><%= link_to '編集', edit_folder_memo_path(@folder, memo), data: { turbo_frame: '_top' } %></p>
                </div>
                <div>
                  <% memo.tags.each do |tag| %>
                    <span class="badge bg-secondary" style="font-size: 0.75rem;"><%= tag.name %></span>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <!-- メモ詳細 (show.html.erb)を表示-->
      <div class="col-md-7">
        <%= turbo_frame_tag 'memo_detail' do %><% end %>
      </div>
    <% end %>
  </div>
</div>


