<!DOCTYPE html>
<html>
  <head>
    <title>Rise Note</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Font Awesomeのアイコン用スタイルシートの読み込み -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>

  <body>
    <!-- アプリケーション内のオーバーレイ要素 -->
    <div id="overlay" style="display: none;"></div>

    <div class="container-fluid">
      <div class="row">
        <!-- ログイン中のみナビバーを表示する -->
        <% if user_signed_in? %>
          <!-- パーシャルを読み込む -->
          <%= render 'shared/navbar' %>
          <%= render 'shared/mypage' %>
          <%= render 'shared/accounts' %>
          <%= render 'shared/missionList' %>
          
          <!-- メインコンテンツ領域のカラム指定 -->
          <div class="<%= 'col-md-10' %>">
            <!-- フラッシュメッセージの表示 -->
            <% flash.each do |key, message| %>
              <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
                <%= message %>
              </div>
            <% end %>
        <% else %>
          <!-- ログインしていない場合のメインコンテンツ領域のカラム指定 -->
          <div class="<%= 'col-md-12'%>">
        <% end %>
          <!-- ページのメインコンテンツを表示 -->
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
