<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header-container">
        <div class="system-name">Rise note</div> 

        <%# ログイン、ログアウト処理 %>
        <% if user_signed_in? %>
          <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
          <%= link_to 'マイページ', mypage_path %>
        <% else %>
          <div class="header-buttons">
            <%= link_to 'Login', new_user_session_path  %>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
