<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- オーバーレイ -->
    <div id="overlay" style="display: none;"></div>

    <div class="container-fluid">
      <div class="row">
        <!-- ログイン中のみナビバーを表示する -->
        <% if user_signed_in? %>
          <!-- パーシャルを読み込む -->
          <%= render 'shared/navbar' %>
          <%= render 'shared/mypage' %>
          <div class="<%= 'col-md-10' %>">
        <% else %>
          <div class="<%= 'col-md-12'%>">
        <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
